<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games-OS</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuzzysort@3.0.2/fuzzysort.min.js"></script>
    <script src="./apps.js"></script>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body v-cloak>
    <div id="windowManager">
        <div v-for="window in windows" :key="window.id">

            <div :class="['window', window.anim]" :style="{ top: (window.hidden ? 999999 : window.y) + 'px', left: window.x + 'px',
                    width: window.width + 'px', height: window.height + 'px',
                    minWidth: window.minWidth + 'px', minHeight: window.minHeight + 'px' }"
                    @mousedown="bringToFront($event, window.id)">
                    
                <div id="titlebar" @mousedown="startDrag($event, window)">
                    <div style="display: inline-flex; align-items: center;">
                        <img :src="window.icon" alt="" width="24" height="24"/>
                        <h2>{{ window.app }}</h2>
                    </div>
                    <div id="windowButtons">
                        <button class="minimize" @click.stop="minimizeWindow($event, window.id)">-</button>
                        <button class="close" @click.stop="closeWindow($event, window.id)">X</button>
                    </div>
                </div>
                
                <iframe :src="window.url" frameborder="0" :style="{ pointerEvents: editingWindow ? 'none' : 'auto' }"></iframe>

                <div class="resize-handle" @mousedown="startResize($event, window)"></div>
            </div>
        </div>
    </div>


    <div id="screen">
        <div id="taskbar">
            <div class="leftSection">
                <div id="search">
                    <button id="linuxButton" @click="openSearch"></button>
                    <input id="searchBox" placeholder="Type here to search!" @focus="openSearch" @blur="deselectSearchbar()" v-model="search"
                    @keydown.enter="if (filteredApps.length > 0) { createWindow(filteredApps.topResult); deselectSearchbar(); }" @keydown.esc="deselectSearchbar()"/>
                </div>

                <div id="appList">
                    <div class="appIcon" @click="createWindow(appName)"
                            :class="[windows.some(w => w.app === appName) ? 'open' : '']"
                            @mouseenter="hoveredApp = appName; deselectSearchbar()" @mouseleave="hoveredApp = null"
                            v-for="(app, appName) in apps" :key="appName"
                            :data-app="appName">
                        <img :src="app.icon" alt="" width="24" height="24"/>
                    </div>
                </div>
            </div>

            <div class="rightSection">
                <div id="timeDisplay">{{ currentTime }}</div>
            </div>
        </div>
    </div>


    <div id="searchResults" v-if="search !== null" @mousedown.stop>
        <div v-if="filteredApps.length === 0">
            <p>No results found.</p>
        </div>
        <div v-else>
            <div v-for="(filteredApps, category) in filteredApps.apps" :key="category" class="appCategory">
                <h3 class="categoryTitle">{{ category }}</h3>
                <div v-for="app in filteredApps" class="app" @mousedown.stop="createWindow(app); deselectSearchbar()">
                    <img :src="apps[app].icon" alt="" width="18" height="18"/>
                    <p>{{ app }}</p>
                </div>
            </div>
        </div>
    </div>


    <div v-for="(app, appName) in apps" :key="'windowlist-' + appName">
        <div class="windowList" v-show="hoveredApp === appName" :data-app="appName" :style="{ left: getAppIconPosition(appName) + 'px' }"
             @mouseenter="hoveredApp = appName" @mouseleave="hoveredApp = null">
            <div v-for="window in windows.filter(w => w.app === appName)" :key="window.id" 
                 class="windowListItem"
                 @click="focusWindow($event, window.id, true)"
                 :style="{ backgroundColor: window.hidden ? '#888' : '#555' }">
                <p>{{ window.app }}</p>
                <button @click.stop="closeWindow($event, window.id)">X</button>
            </div>
        </div>
    </div>
</body>
</html>