@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

[v-cloak] {display: none;}
* {font-family: 'Science Gothic', Arial, sans-serif;}

:root {
    --taskbar-height: 35px;
    --taskbar-hover-color: #444;
}


/* Windows */
#windowManager {
    width: 0;
    height: 0;
}

.window {
    position: absolute;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    overflow: auto;
    box-sizing: border-box;
    z-index: 99;
}

.window iframe {
    width: 100%;
    height: calc(100% - 30px);
}

.window #titlebar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    height: 20px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window #titlebar h2 {
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
}

.window #titlebar button {
    background-color: #eb3030;
    border: none;
    color: white;
    padding: 2px 8px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.window iframe {
    border: none;
    display: block;
}

.opening {
    animation: fade;
    animation-delay: 0.1s;
    animation-duration: 0.2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: steps(2);
}


.closing {
    animation: fade;
    animation-delay: 0.1s;
    animation-duration: 0.2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: steps(2);
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 1px;
    bottom: 1px;
    cursor: se-resize;
    z-index: 10;

    /* AI generated triangle shape lol*/
    background: linear-gradient(135deg, transparent 50%, rgba(0,0,0,0.25) 50%) no-repeat center/12px 12px;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Taskbar */
#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #0780e3;
}

#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--taskbar-height);
    padding: 0;
    background-color: #222;
    z-index: 10;

    display: flex;
    justify-content: space-between;
}

#taskbar div {
    display: flex;
    align-items: center;
}


#linuxButton {
    margin-left: 5px;
    width: 45px;
    height: var(--taskbar-height);
    background-color: #00000000;
    background-image: url("./linux.png");
    background-size: 60% 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

#linuxButton:hover {
    background-color: var(--taskbar-hover-color);
}

#searchBox {
    margin: 0;
    width: 200px;
    padding-left: 10px;
    height: calc(var(--taskbar-height) * 0.95);
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;
    cursor: text;
    transition-duration: 0.3s;
}

#searchBox:hover {
    background-color: #444;
}

#searchBox:focus {
    background-color: #555;
}


#appList {
    height: var(--taskbar-height);
    padding: 0 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#appList div {
    color: #ccc;
    height: var(--taskbar-height);
    padding: 0 7px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.2s;
}

#appList div.open {
    height: calc(var(--taskbar-height) - 3px);
    border-bottom: 3px solid #fff;
    color: #fff;
}

#appList div:hover {
    background-color: var(--taskbar-hover-color);
    color: #fff;
}

#timeDisplay {
    height: var(--taskbar-height);
    padding: 0 7px;
    color: #777;
    font-size: 14px;
    user-select: none;
    transition-duration: 0.3s;
}

#timeDisplay:hover {
    background-color: var(--taskbar-hover-color);
}